.chart {
  flex: 4;
  background: linear-gradient(45deg, #c2c1c1, #f3f3f383);
  box-shadow: 2px 4px 10px 1px rgba(219, 218, 218, 0.47);
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47),
    5px 10px 20px #ffffff;
  color: rgb(75, 75, 75);
  margin-bottom: 4rem;
  padding-left: 15px;

  .title {
    margin: 10px 10px;
    font-weight: 600;
  }

  .chartGrid {
    stroke: rgb(228, 225, 225);
  }
}

.newChart {
  flex: 4;
  color: rgb(75, 75, 75);
  margin-bottom: 1rem;
  margin-left: 15px;

  .title {
    margin: 10px 10px;
    font-weight: 600;
    color: rgb(75, 75, 75);
  }

  .chartGrid {
    stroke: rgb(228, 225, 225);
  }
}
