.tableContainer {
  .topCell {
    font-size: 16px;
    font-weight: 600;
    color: rgb(75, 75, 75);
  }

  .cellWrapper {
    display: flex;
    align-items: center;

    .tableImg {
      width: 52px;
      height: 52px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 10px;
    }
  }

  .status {
    padding: 5px;
    border-radius: 5px;

    &.Approved {
      color: green;
      background-color: rgba(0, 128, 0, 0.2);
    }
    &.Pending {
      color: goldenrod;
      background-color: rgba(189, 189, 3, 0.2);
    }
  }
}
